@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

span.swiper-pagination-bullet {
  background: gray;
  opacity: 0.5;
}

div.swiper-button-prev {
  color: white;
}

div.swiper-button-next {
  color: white;
}
div.swiper-button-prev.swiper-button-disabled {
  display: none;
}

/* Default scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2e2e2e; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Color when hovered */
}

/* Apply scrollbar styles only for non-mobile view */
@media (min-width: 768px) {
  /* Non-mobile scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #2e2e2e; /* Background of the scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color when hovered */
  }
}

/* Mobile view styles */
@media (max-width: 767px) {
  /* Override scrollbar styles for mobile view */
  ::-webkit-scrollbar {
    width: 8px; /* Reset width for mobile */
  }
}

.inner-focus-ring:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(234, 179, 8, 1); /* Adjust color and width as needed */
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.debug-border {
  border: 1px solid red;
}